header {
  background-color: aqua; }
  header nav {
    text-align: center; }
    header nav .primer-ancla {
      color: black; }
    header nav a {
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      header nav a:hover {
        color: aqua; }
